
#Header {
    position: absolute;
    height: 255px;
    width: 1735px;
    top: 0px;
    left: 200px;
    z-index: 10;
    border-top-left-radius: 200px;
    border-bottom: rgba(178, 126, 13, 1) 4px solid;
    overflow: hidden;
}

#MenuBar {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    height: 980px;
    width: 200px;
    background: linear-gradient(
      rgba(255, 185, 37, 0.4), 
      rgba(255, 185, 37, 0.4)
    ),
      url(http://i.imgur.com/AFVrFox.jpg);
}

#MenuBarAdd {
    position: absolute;
    top: -8px;
    left: 200px;
    z-index:-1;
    height: 262px;
    width: 200px;
    background: linear-gradient(
      rgba(255, 185, 37, 0.4), 
      rgba(255, 185, 37, 0.4)
    ),
      url(http://i.imgur.com/AFVrFox.jpg);
}

#HomeButton {
    position: absolute;
    top: 256px;
    z-index: 10;
}

.MenuButton {
    height: 60px;
    width: 200px;
    left: 0px;
    border-top: rgba(178, 126, 13, 1) 1px solid;
    border-bottom: ;
    z-index: 20;
    
    text-align: center;
    font-family: 'Open Sans', sans-serif;   
}

#ScheduleButton {
    position: absolute;
    top: 316px;
}

#RankingButton {
    position: absolute;
    top: 376px;
}

#PlayerButton {
    position: absolute;
    top: 436px;
}

#TeamButton {
    position: absolute;
    top: 556px;
}

.MenuButton:hover {
    background-color: rgba(37, 116, 255, 0.6);
    cursor: pointer;
}

#TitleBar {
    position: absolute;
    top: 257px;
    left: 200px;
    height: 116px;
    width: 1735px;
    
    background-color: rgba(255, 185, 37, 0.1);
    border-bottom: rgba(178, 126, 13, 1) 4px solid;
}

#Title {
    position: absolute;
    margin-left: 20px;
    margin-top: 25px;
    font-family: 'Milonga', cursive;
    font-size: 50px;
}

#LoginBar {
    position: fixed;
    top: 222px;
    left: 1670px;
    height: 35px;
    width: 250px;
    z-index: 20;
    
    background-color: rgba(178, 126, 13, 1);
    border-top-left-radius: 200px;
}

#Greeting {
    margin-right: 10px;
    margin-top: 6px;
    
    text-align: right;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#BodyContent {
    position: absolute;
    top: 410px;
    left: 240px;
    height: 520px;
    width: 1650px;
    z-index: -1;
}

#ScheduleBox {
    position: absolute;
    height:520px;
    width: 995px;
}

#NewsBox {
    position: relative;
    left: 1050px;
    height: 510px;
    width: 585px;
}

h2 {
    
    font-family: 'Milonga', cursive;
    border-bottom: rgba(178, 126, 13, 1) 1px solid
}

#RegisterBox {
    height: 336px;
    border='0';
}

#Register {
    position: absolute;
    top: 80px;
    height: 336px;
    width: 995px;
    z-index: -1;
}

#RegMain {
    position: relative;
    top: 220px;
    margin-left: 20px;
    
    font-family: 'Milonga', cursive;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

#RegSub {
    margin-top: 230px;
    margin-left: 30px;
    
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-decoration: none;
}



a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}





#Logout {
    color: blue;
    text-decoration: underline;
}

#SchedAnnoun {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    
    border: rgba(178, 126, 13, 1) 4px solid;
}

#MessageButton {
    position: absolute;
    top: 496px;
}



#TeamTableDiv {
    position: absolute;
    width: 800px;
    height: 550px;
}

table {
    width: 100%;
    padding: 5px;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

th {
    padding: 10px;
    background-color: rgba(255, 185, 37, 0.7);
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: white 2px solid;
    border-top: white 2px solid;
}

tr:nth-child(even) {
    background-color: rgba(178, 126, 13, 0.2);
}
tr:nth-child(odd) {
   background-color:#fff;
}

#Logo {
    position: absolute;
    top: 20px;
}

#Logoimg {
    height: 180px;
}

.TopLeft {
    border-top-left-radius: 25px;
}

#PlayersTableDiv {
    position: relative;
    left: 840px;
    height: 550px;
    width: 800px;
}

#PositionFilter {
    font-size: 16px
}

p {
    font-family: 'Open Sans', sans-serif;
}

form {
    font-family: 'Open-Sans', sans-serif;
}

#NameFilter {
    font-size: 14px;
    border-top-left-radius: 10px;
}

#FilterPlayers {
    position: absolute;
    top: 17px;
    right: 10px;
}

#PlayerTable {
    position: absolute;
}

#PlayerTable td {
    border: rgba(178, 126, 13, 0.6) 2px solid;
}

.Grabbable:hover {
    background-color: rgba(37, 116, 255, 0.6);
    cursor: -webkit-grab;
}

.InvCancButton {
    position: absolute;
    right: 30px;
}

#InvButton {
    position: relative;
    left: 379px;
    visibility: hidden;
}

.ProfileButton {
    position: absolute;
    right: 30px;
    
    color: blue;
    text-decoration: underline;
}

.ProfileButton:hover { 
    cursor: pointer;
}

#Prof1 {
    top: 47px;
}

#Prof2 {
    top: 95px;
}

#DragTo {
    border-color: white;
}



html {
    overflow: hidden;
}

h5 {
    margin-top: -10px;
    font-family: 'Open Sans', sans-serif;
    color: gray;
}

h4 {
    font-family: 'Open Sans', sans-serif;
}

h4:hover {
    cursor: pointer;
}

body {
    overflow: hidden;
}

#Instuctions {
    position: relative;
    top: 160px;
    left: 20px;
    
    font-size: 14px;
    color: grey;
    font-style: italic;
}

#DocButton {
    position: absolute;
    top: 616px;
}

#UsabilityButton {
    position: absolute;
    top: 676px;
    border-bottom: rgba(178, 126, 13, 1) 1px solid;
}
